html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

  padding-top: 50px;
  padding-bottom: 20px;
}

h1.title {
  font-variant: small-caps;
  font-family: courier;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}

h2.title {
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}

.copper-color {
  background-color: #EFF0F9;
  border-color: transparent;
}

.coop-color {
  border-color: transparent;
}

.card-img-bottom{
  width: 90%;
  height: auto;
  margin: 5px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
