html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

  padding-top: 50px;
  padding-bottom: 20px;
}

.row-top {
  margin-top: 20px;
}

h1.title {
  font-variant: small-caps;
  font-family: courier;
  font-weight: bold;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

h2.title {
  font-variant: small-caps;
  font-family: courier;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #ffffff;
}

.copper-color {
  color: #000000;
  background-color: #EFF0F9;
  border-color: transparent;
}

.coop-color {
  border-color: transparent;
}

.card-img-bottom{
  width: 90%;
  height: auto;
  margin: 5px;
}

.maps{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.maps iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    pointer-events: none;
}

.parallela {
  background-color: #D9EDF7;
}

.parallelb {
  background-color: #DFF0DB;
}

.main-block {
  margin-bottom: 20px;
}

.program-table td {
  padding: 4px;
}
