{% extends "_layout.html" %}
{% block title %}About the conference...{% endblock %}
{% block content %}

<div class="container">
  <div class="row" id="format">
    <h4>Conference Format</h4>

    <p>
    The conference typically features morning and afternoon sessions consisting of individual talks of approximately 25 minutes each, including time for questions.  In addition, special topics workshops and tutorials are often held during evening mid-day breaks.  More details can be found on the <a href="program.html">program</a> page.
    </p>

    <p>
    A <a href="student.html#details">student paper competition</a> is open to current and recent students attending the conference.  In addition, a special issue devoted to the themes of the conference is open to all (details can be found on the <a href="index.html">home</a> page).
    </p>
  </div>

  <div class="row" id="location">
    <h4>Getting Here</h4>

    <p> The conference is held at <a
      href="http://www.coppercolorado.com">Copper Mountain</a>, Colorado,
    located 75 miles west of Denver just off interstate I-70 at exit 195.  </p>

    <p> Denver International Airport (DIA) is the closest major airport.
    From there, most attendees either arrive by shuttle or by car rental.
    </p>

    <p> Summit Express provides shuttle service from DIA to Copper Mountain.
    The conference group code is FRSC2015 (<a
    href="http://summitexpress.hudsonltd.net/res?USERIDENTRY=FRSC2015&LOGON=GO">direct
    link</a>). The code provides 10% off the one-way rate (as of March 2015,
    this is $58.50).  The full rates are given on the <a
    href="http://www.summitexpress.com/denver-airport-ski-shuttle-rates/winter-denver-airport-shuttle-rates/">Summit
    Express</a> website.  </p>

    <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d608266.0883500748!2d-106.0073125920699!3d39.63946148929527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x876a6000b7523357%3A0x2fc88aaeeb274fdd!2sCopper+Mountain+Resort!5e0!3m2!1sen!2sus!4v1474934985568" width="800" height="300" style="border:0" allowfullscreen></iframe>
    </div>

  </div>

</div>
{% block extrajs %}
<script>
$(".maps").click(function() {
	$(".maps iframe").css("pointer-events", "auto");
});
$(".maps").mouseleave(function() {
	$(".maps iframe").css("pointer-events", "none");
});
</script>
{% endblock %}
{% endblock %}
